<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <sectionGroup name="intuit">
      <section name="ipp" type="Intuit.Ipp.Utility.IppConfigurationSection, Intuit.Ipp.Utility" allowDefinition="Everywhere" allowLocation="true" />
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <clear />
    <add name="SqlConn" connectionString="User Id=SoarNP; Password=Napoli1966; Initial Catalog=ProdSoarDB;Persist Security Info=False; Data Source=R43640;"
      providerName="System.Data.SqlClient" />
    <!--<add name="SqlConn" providerName="System.Data.SqlClient" connectionString="User Id=SoarNP; Password=Napoli1966; Persist Security Info=True; Initial Catalog=SoarNP; Data Source=198.71.225.146;" />-->
  </connectionStrings>
  
  <intuit>
    <ipp>
      <!--<logger>-->
      <!--To enable/diable Request and Response log-->
      <!--
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="C:\IdsLogs" />
         -->
      <!--Custom Logger to configure 
        <customLogger name="traceLogger" type="Intuit.Ipp.Diagnostics.TraceLogger, Intuit.Ipp.Diagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" enable="true" />-->
      <!--</logger>-->
      <message>
        <!--Serialization and compression formats to be used for Request and Response-->
        <request serializationFormat="Json" />
        <response serializationFormat="Json" />
      </message>
      <service>
        <!--Baseurl will be configured to point to any environment other than Production (default)-->
        <!--Sandbox base url to be used when dev app (consumer keys and tokens are used)-->
        <baseUrl qbo="https://sandbox-quickbooks.api.intuit.com/" />
        <!--Prod base url to be used when prod app (consumer keys and tokens are used)-->
        <!--<baseUrl qbo="https://quickbooks.api.intuit.com/" />-->
      </service>
    </ipp>
  </intuit>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="ClientID" value="Q0rLkgUunNoAhxdvegnvVDW1x3gsnd8RBNQH4chqHKwSRZIqaG" />
    <add key="ClientSecret" value="DF2w4Is5FJHyaI1SEPLqI17l6PdaMrJcxYfYB6MI" />
    <add key="appEnvironment" value="sandbox"/>
    <add key="logPath" value="C:\\Logs\\"/>
    <!--<add key="ConsumerKey" value="qyprdsjA8flFpFn79DDYQ5r0sxT6DT" />
    <add key="ConsumerSecret" value="PADcS2Vs0BTbcMnBKTlWGF0msM9FHABXxDGEQeHy" />
    <add key="AccessToken" value="lvprd395hBsKJBzHSbcVvvtFnZbi3CmBnq7leNIZSqPa5DgT" />
    <add key="AccessTokenSecret" value="ES0O3tKAJ2t4pbae8DIdU1aZJMfvGIV9NTlfVbUs" />
    <add key="realmId" value="123145831822364" />-->
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" deliveryFormat="International" from="RobertRackl@centurylink.net">
        <network
          host="smtp.centurylink.net"  
          port="587"
          enableSsl="true"
          userName="robertrackl@centurylink.net"
          password="Puergg53~"
        />
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <customErrors mode="On" defaultRedirect="~/ErrorPages/Resp2Err.aspx" />
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Default.aspx" timeout="50" cookieless="UseCookies" slidingExpiration="true" />
    </authentication>
    <sessionState mode="InProc" timeout="60" />
    <!--In the above two blocks (authentication, sessionState) timeout values are chosen such that authentication times out before sessionState does. i.e.:
    user will be asked to log in again before Session expires; Session variables are used internally, especially in the Accounting section. This means
    that if the user leaves the site for too long, input may be lost.-->
    <machineKey validation="SHA1" validationKey="DC60807F7D52DD36774D3F7730E95491FE4364515C6B66F2A60AABFEBF43559D"
                decryptionKey="217DF5909B18E2F57C0D74D7F01BC0CEE88F9E0562472A8C9B299B4C9431A94B" />
    <membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="45">
      <providers>
        <clear />
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SqlConn" applicationName="TSoar" enablePasswordRetrieval="false"
             enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SqlRoleProvider">
      <providers>
        <clear />
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SqlConn" applicationName="TSoar" />
      </providers>
    </roleManager>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <clear />
        <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    <pages viewStateEncryptionMode="Always" maintainScrollPositionOnPostBack="true" >
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
    </pages>
    <profile defaultProvider="SqlMembershipProvider" inherits="TSoar.DB.AccountProfile">
      <providers>
        <clear />
        <add name="SqlMembershipProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="SqlConn" applicationName="TSoar" description="SqlProfileProvider for TSoar" />
      </providers>
    </profile>
  </system.web>
  
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>