<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <sectionGroup name="intuit">
      <section name="ipp" type="Intuit.Ipp.Utility.IppConfigurationSection, Intuit.Ipp.Utility" allowDefinition="Everywhere" allowLocation="true" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <clear />
    <add name="SqlConn" providerName="System.Data.SqlClient" connectionString="User Id=SoarNP; Password=Napoli1966; Initial Catalog=SoarNP;
         Data Source=198.71.225.146;" />
  </connectionStrings>

  <intuit>
    <ipp>
      <!--<logger>
         -->
      <!--To enable/diable Request and Response log-->
      <!--
        <requestLog enableRequestResponseLogging="true" requestResponseLoggingDirectory="C:\IdsLogs" />
         -->
      <!--Custom Logger to configure 
        <customLogger name="traceLogger" type="Intuit.Ipp.Diagnostics.TraceLogger, Intuit.Ipp.Diagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" enable="true" />-->
      <!--
      </logger>-->
      <message>
        <!--Serialization and compression formats to be used for Request and Response-->
        <request serializationFormat="Json" />
        <response serializationFormat="Json" />

      </message>
      <service>
        <!--Baseurl will be configured to point to any environment other than Production (default)-->
        <!--Sandbox base url to be used when dev app (consumer keys and tokens are used)-->
        <baseUrl qbo="https://sandbox-quickbooks.api.intuit.com/" />

        <!--Prod base url to be used when prod app (consumer keys and tokens are used)-->
        <!--<baseUrl qbo="https://quickbooks.api.intuit.com/" />-->

      </service>
    </ipp>
  </intuit>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!--Specify AccessToken Value for QBO-->
    <add key="ClientID" value="Q0rLkgUunNoAhxdvegnvVDW1x3gsnd8RBNQH4chqHKwSRZIqaG" />
    <add key="ClientSecret" value="DF2w4Is5FJHyaI1SEPLqI17l6PdaMrJcxYfYB6MI" />
    <add key="appEnvironment" value="sandbox"/>
    <add key="logPath" value="C:\\Logs\\"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=~/TempImageFiles/;" />
  </appSettings>

  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <customErrors mode="Off" defaultRedirect="~/ErrorPages/GenericHttpErr.aspx"/>
    <httpRuntime targetFramework="4.6.1" />
    <securityPolicy>
      <trustLevel name="Full" policyFile="internal"/>
    </securityPolicy>
    <trust level="Full" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Default.aspx" timeout="50" cookieless="UseCookies" />
    </authentication>
    <sessionState mode="InProc" timeout="60" />
    <!--In the above two blocks (authentication, sessionState) timeout values are chosen such that authentication times out before sessionState does. i.e.:
    user will be asked to log in again before Session expires; Session variables are used internally, especially in the Accounting section. This means
    that if the user leaves the site for too long, input may be lost.-->
    <membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="45">
      <providers>
        <clear />
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SqlConn"
             applicationName="Soar" enablePasswordRetrieval="false" enablePasswordReset="true"
             requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SqlRoleProvider">
      <providers>
        <clear />
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SqlConn" applicationName="Soar" />
      </providers>
    </roleManager>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <clear/>
        <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <profile defaultProvider="SqlMembershipProvider" inherits="TSoar.DB.AccountProfile">
      <providers>
        <clear/>
        <add name="SqlMembershipProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="SqlConn" applicationName="Soar" description="SqlProfileProvider for TSoar"/>
      </providers>
    </profile>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
</configuration>